<div class="container aling-items-center">
  <div class="card cardSupper">
    <div class="headButton">
      <button class="btn" [routerLink]="['/admin']">goback</button>
      <button class="btnCreate" [routerLink]="['/product/create']">create</button>
    </div>
    <input class="inputSerching" type="text" placeholder="Sherching Data" />
    <div class="table-wrapper">
      <table class="table table-striped fl-table" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">images</th>
            <th scope="col">name</th>
            <th scope="col">price</th>
            <th scope="col">datail</th>
            <th scope="col">catagory</th>
            <th scope="col">create</th>
            <th scope="col">update</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productAll; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>
              <img
                class="imgInTable"
                src="{{baseImg}}{{item.image}}"
                alt="" (click)="showImg(item.image)"
              />
            </td>
            <td class="col-md-2">{{item.name}}</td>
            <td class="col-md-1">{{item.price | currency: '฿'}}</td>
            <td class="col-md-3">
              {{item.detail}}
            </td>
            <td class="col-md-1">{{item.catagory}}</td>
            <td class="col-md-1">13/2/65</td>
            <td class="col-md-1">13/2/65</td>
            <th class="col-md-2">
              <img class="imgEditer" src="assets/images/icon/edit.png" alt="" (click)="editProducts(item.id)">
              <img class="imgEditer" src="assets/images/icon/delete.png" alt="" (click)="deleteProduct(item.id)">
          </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
