
<nav>
  <div class="nav-container">
    <a class="logoBrand" [routerLink]="['/product']">
      <img src="assets/images/logo.png" class="logoNav" />
    </a>
    <div class="navProfile">
        <p *ngIf="islogin" class="navProfileName">{{userName}} {{lastName}}</p>
        <p *ngIf="!islogin" class="navProfileName">BEST Coffe</p>
      <div class="navProfileClass" *ngIf="islogin">
        <div class="clickCart" [routerLink]="['/product/cart/home']">
          <img class="fas fa-cart-shopping" src="assets/images/icon/shopping-cart.png" alt="">
          <div class="cartCout">
              {{cartItem}}
          </div>
        </div>
        <div *ngIf="islogin"><img class="logout" (click)="logout()" src="assets/images/icon/log-out.png" alt=""></div>
      </div>
      <img *ngIf="islogin" class="imfProfile" src="{{baseImg}}{{images}}" alt="">
    </div>
  </div>
</nav>
