<div class="container text-center">
    <div class="card card-header">
        <div class="row">
            <div class="col">
                <div class="card card-bd" [routerLink]="['/profile/admin']">
                    <img class="img-icon" src="assets/images/icon/profile.png" alt="">
                    <p class="card-text">USER-Editer</p>
                </div>
            </div>
            <div class="col">
                <div class="card card-bd" [routerLink]="['/product/admin']">
                  <img src="holder.js/100x180/" alt="">
                  <div class="card-body">
                    <p class="card-text">Product Editer</p>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-bd">
                  <img src="holder.js/100x180/" alt="">
                  <div class="card-body">
                    <p class="card-text">Promotion Editer</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card card-bd">
                  <img src="holder.js/100x180/" alt="">
                  <div class="card-body">
                    <p class="card-text">Cart-Editer</p>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-bd">
                  <img src="holder.js/100x180/" alt="">
                  <div class="card-body">
                    <p class="card-text">Slip Editer</p>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-bd">
                  <img src="holder.js/100x180/" alt="">
                  <div class="card-body">
                    <p class="card-text">Promotion Editer</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
